<body>
  <section id="spotlight">
    <h3>Media Spotlight: <%= link_to Work.most_voted.title, work_path(Work.most_voted.id) %> by <%= Work.most_voted.creator %></h3>
    <p><%= Work.most_voted.vote_ids.length %> votes - <%= Work.most_voted.description %></p>
  </section>

  <section>
    <h3>Top Movies</h3>
    <% Work.top_ten("movie").each do |w| %>
      <ul>
        <li>
          <%= link_to w.title, work_path(w.id) %> by <%= w.creator %>
          <p><%= w.vote_ids.length %> votes</p>
        </li>
      </ul>
    <% end %>
  </section>

  <section>
    <h3>Top Books</h3>
    <% Work.top_ten("book").each do |w| %>
      <ul>
        <li>
          <%= link_to w.title, work_path(w.id) %> by <%= w.creator %>
          <p><%= w.vote_ids.length %> votes</p>
        </li>
      </ul>
    <% end %>
  </section>

  <section>
    <h3>Top Albums</h3>
    <% Work.top_ten("album").each do |w| %>
      <ul>
        <li>
          <%= link_to w.title, work_path(w.id) %> by <%= w.creator %>
          <p><%= w.vote_ids.length %> votes</p>
        </li>
      </ul>
    <% end %>
  </section>
</body>