<header>
  <h1>List of Works</h1>
</header>
<body>
  <h3>Albums</h3>
  <ul>
    <% @works.each do |work| %>
      <% if work.category == "album" %>
        <li>
          <%= link_to work.title, work_path(work.id) %>
          <%= work.creator %>
          <%= work.publication_year %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h3>Books</h3>
  <ul>
    <% @works.each do |work| %>
      <% if work.category == "book" %>
        <li>
          <%= link_to work.title, work_path(work.id) %>
          <%= work.creator %>
          <%= work.publication_year %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <h3>Movies</h3>
  <ul>
    <% @works.each do |work| %>
      <% if work.category == "movie" %>
        <li>
          <%= link_to work.title, work_path(work.id) %>
          <%= work.creator %>
          <%= work.publication_year %>
        </li>
      <% end %>
    <% end %>
  </ul>
</body>


