<body>
  <h1><%= @work.title %></h1>
  <p><%= @work.creator %></p>
  <p><%= @work.publication_year %></p>
  <p><%= @work.description %></p>

  <p><%= button_to "Back to media ranks" %></p>
  <p><%= button_to "Edit" %></p>
  <p><%= button_to "Upvote" %></p>
  <p><%= button_to "Delete" %></p>
</body>
