<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker</h1>
      <h2>Ranking the Best of Everything</h2>
        <% if flash.count > 0 %>
          <section class="flash">
            <div class="alert">
            <% flash.each do |name, message| %>
              <% if message.class == Array %>
                <ul>
                <% message.each do |msg| %>
                  <li><%= name %>: <%= msg %> </li>
                <% end %>
              <% else %>
                <%= message %>
              <% end %>
              </ul>
            <% end %>
            </div>
          </section>
        <% end %>
      <nav>
        <%=link_to "View top media", root_path %>
        <%= link_to "View all media", works_path %>
        <%= link_to "Add a new work", new_work_path %>
        <% if session[:user_id] %>
          <%= link_to "Logged in as #{User.find(session[:user_id]).username}", current_user_path %>
          <%= link_to "Log out", logout_path(session[:user_id]), method: :post %>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
